mat-toolbar {
  background-color: brown;
  height: 15%;
  @media (min-width: 400px) {
    height: 20%;
    padding-top: 50px;
  }
  img {
    @media (min-width: 800px) {
      padding-top: 50px;
    }
    cursor: pointer;
  }
}

img {
  margin-top: 60px;
  width: 90%;
  height: auto;
}
