.container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding: 50px;
  font-size: larger;
  margin-top: 0;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: space-evenly;
  img {
    height: 500px;
  }
}
