.container {
  background-image: url(../../../assets/images/barrels.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 50px;
  font-size: larger;
  color: white;
  margin-top: 0;
  text-align: center;
}

a {
  font-size: larger;
  color: white;
  margin-top: 0;
  text-align: center;
  padding-top: 50px;
}
